.container {
    display: flex;
    height: 100vh;
}

.product-catalog {
    width: 60%;
    padding: 20px;
    overflow-y: auto;
    background-color: #f5f5f5;
    box-sizing: border-box;
}

.product-catalog .product {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.terminal {
    width: 40%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.terminal-window {
    background-color: #000;
    height: 100%;
    padding: 10px;
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
}

.terminal-output {
    white-space: pre-wrap;
    word-wrap: break-word;
    flex-grow: 1;
}

.terminal-input {
    display: flex;
    align-items: center;
}

.prompt {
    margin-right: 5px;
}

input[type="text"] {
    background-color: transparent;
    border: none;
    color: #fff;
    outline: none;
    flex-grow: 1;
    transition: border-color 0.3s ease, color 0.3s ease; 
}

h2 {
    text-align: center;
    height: 100px;
    position: relative;
    top: 100px;
}

h2:hover {
    color:purple;
}

.ref {
    margin-top: 150px;
}

.social-icon {
    width: 32px;
    height: 32px;
    position: relative;
    left: 65px;
    padding: 10px;
    transition: fill 0.3s ease, color 0.3s ease; 
}

.social-icon:hover {
    fill: #00aced; 
    color: #00aced; 
    cursor: pointer;
}
.bar{
    background-image: url(https://cdn.pixabay.com/photo/2016/07/30/20/52/vintage-1557993__340.jpg);
}
