body{
    background-color:rgb(8, 8, 48);
}
.text1{
    position: relative;
    color:white;
    bottom: 13%;
    padding-bottom:10%;
    padding-left: 17%;
}
.pic1{
    position: relative;
    height:200px;
    left:12%;
}
.item1{
    position: fixed;
    background-color:#0B0B21;
    height:270px;
    width:250px;
    left:20%;
    border-radius:5%;
    border-bottom:solid #3345AB;
    border-bottom-width:20px;
}
.item2{
    position:fixed;
    left:35%;
    background-color: #0B0B21;
    border-radius:5%;
    border-bottom:solid #3345AB;
    border-bottom-width:20px;
    height:270px;
    width:250px;
}
.pic2{
    position: relative;
    height:180px;
    left:10%;
}
.text2{
    position: relative;
    color:white;
    bottom: 5%;
    padding-bottom:11%;
    padding-left: 17%;
}
.pic3{
    height:190px;
    position:relative;
    left:25%;
    top:5%;
}
.text3{
    color:white;
    position: relative;
    left:10%;
}
.item3{
    background-color: #0B0B21;
    height:270px;
    width:250px;
    position: fixed;
    left:50%;
    border-radius:5%;
    border-bottom:solid #3345AB;
    border-bottom-width:20px;
}
.pic4{
    position:relative;
    height:270px;
    right:20px;
    bottom: 30px;
}
.text4{
    color:white;
    position:relative;
    bottom:30%;
    left:10%

}
.item4{
    background-color:#0B0B21;
    height: 270px;
    width:250px;
    position:fixed;
    left:65%;
    border-radius:5%;
    border-bottom:solid #3345AB;
    border-bottom-width:20px;
}
.pic5{
    height:100px;
    padding:35px;
    position:relative;
}
.text5{
    color:white;
    position:relative;
    left:15%;
}
.item5{
    position: fixed;
    background-color:#0B0B21;
    height:270px;
    width:250px;
    top:37.8%;
    left:20%;
    border-radius:5%;
    border-bottom:solid #3345AB;
    border-bottom-width:20px;
}
.item6{
    position:fixed;
    left:35%;
    top:37.8%;
    background-color: #0B0B21;
    border-radius:5%;
    border-bottom:solid #3345AB;
    border-bottom-width:20px;
    height:270px;
    width:250px;
}
.item7{
    background-color: #0B0B21;
    height:270px;
    width:250px;
    position: fixed;
    left:50%;
    top:37.8%;
    border-radius:5%;
    border-bottom:solid #3345AB;
    border-bottom-width:20px;
}
.pic7{
    height:190px;
    position:relative;
    left:10%;
    top:5%;
}
.item8{
    background-color:#0B0B21;
    height: 270px;
    width:250px;
    position:fixed;
    left:65%;
    top:37.8%;
    border-radius:5%;
    border-bottom:solid #3345AB;
    border-bottom-width:20px;
}
.pic8{
    position:relative;
    height:200px;
    right:-21px;
}
.text8{
    color:white;
    position:relative;
    left:10%
}
.item9{
    position: fixed;
    background-color:#0B0B21;
    height:270px;
    width:250px;
    margin-top:33.7%;
    left:20%;
    border-radius:5%;
    border-bottom:solid #3345AB;
    border-bottom-width:20px;
}
.item10{
    position:fixed;
    left:35%;
    margin-top:33.7%;
    background-color: #0B0B21;
    border-radius:5%;
    border-bottom:solid #3345AB;
    border-bottom-width:20px;
    height:270px;
    width:250px;
}
.pic10{
    height:190px;
    position:relative;
    left:11%;
    top:5%;
}
.text10{
    color:white;
    position:relative;
    left:12%;
    bottom: 3%;
}
.item11{
    background-color: #0B0B21;
    height:270px;
    width:250px;
    position: fixed;
    left:50%;
    margin-top:33.7%;
    border-radius:5%;
    border-bottom:solid #3345AB;
    border-bottom-width:20px;
}
.text11{
    color:white;
    position:relative;
    bottom:36%;
    left:12%
}
.item12{
    background-color:#0B0B21;
    height: 270px;
    width:250px;
    position:fixed;
    left:65%;
    margin-top:33.7%;
    border-radius:5%;
    border-bottom:solid #3345AB;
    border-bottom-width:20px;
}
.text12{
    color:white;
    position:relative;
    bottom:5%;
    left:10%
}
.pic12{
    position: relative;
    height:200px;
    left:5%;
}
.pic9{
    height:150px;
    padding:35px;
    position:relative;
}
.text9{
    color:white;
    position:relative;
    left:15%;
    bottom:15%;
}